/* needed to make sure image covered whole body */

html {
    height: 100%;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    background: url("../images/background.jpg");
    background-size: cover;
    min-height: 100%;
    background-repeat: no-repeat;
    height: 100%;
}

.row {
    text-align: center;
}

#game {
    display: none;
}

#gameOver {
    display: none;
}

#start .btn {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 90px;
    margin-top: 60%;
    font-size: 30px;
}

.gameBox {
    margin: 15px;
    padding: 15px;
    border-width: 5px;
    max-height: 100%;
}

#heading {
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;
    color: rgb(77, 12, 231);
}

#timeRemaining {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    padding-top: 60px;
    color: transparent;
}

#questionRow {
    padding-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.gameBtn {
    /* background-color: white; */
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    color: black;
    width: 100%;
    margin-top: 10px;
    background-color: transparent;
    border: none;
}

.response {
    width: 100%;
    margin-top: 30px;
    display: none;
    height: 200px;
}

#imageBox img {

    max-width: 300px;
}
#gameOver {
    padding-top: 90px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

#gameOverMsg {
    font-size: 55px;
}

#gameOver .btn {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 90px;
    font-size: 30px;
    margin-top: 20px;
}

.killSpiders {
    font-size: 20px;
    margin-top: 40px;
}